<!doctype html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head(title)">
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title th:replace="${title}">fragment</title>
  <link rel="stylesheet" href="https://cdn.bootcss.com/semantic-ui/2.4.1/semantic.min.css">
  <link rel="stylesheet" href="../../static/lib/editor.md/css/editormd.min.css" th:href="@{/lib/editor.md/css/editormd.min.css}">
  <link rel="stylesheet" href="../../../../../blog_old/src/main/resources/static/css/me.css" th:href="@{/css/me.css}">
</head>
<body>

<!--导航栏-->
<nav th:fragment="nav(n)" class="ui inverted attached segment me-padding-tb-mini me-shadow-small">
  <div class="ui container">
    <div class="ui inverted secondary stackable menu">
      <h2 class="ui teal header item">Blog</h2>
      <a href="/admin/blogs" class="me-item item me-mobile-hide" th:classappend="${n==1}? 'active'"><i class="icon home"></i>博客</a>
      <a href="/admin/types" class="me-item item me-mobile-hide" th:classappend="${n==2}? 'active'"><i class="icon idea"></i>分类</a>
      <a href="/admin/tags" class="me-item item me-mobile-hide" th:classappend="${n==3}? 'active'"><i class="icon tags"></i>标签</a>
      <div class="item right me-item menu me-mobile-hide">
        <div class="ui dropdown item">
          <div class="text">
            <img class="ui avatar image" th:src="${session.user.avatar}" alt="头像">
            <span th:text="${session.user.nickname}"></span>
          </div>
          <i class="icon dropdown"></i>
          <div class="menu">
            <a href="/admin/logout" class="item">注销登录</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <a href="#" id="menu" class="ui icon black button me-top-right me-mobile-show">
    <i class="icon sidebar"></i>
  </a>
</nav>

<!--底栏-->
<footer th:fragment="footer" class="ui inverted vertical segment me-padding-tb-massive">
  <div class="ui center aligned container">
    <div class="ui inverted divided stackable grid">
      <div class="three wide column">
        <div class="ui inverted link list">
          <div class="item">
            <img class="ui rounded image" src="../../../../../blog_old/src/main/resources/static/images/wechat.jpg" th:src="@{/images/wechat.jpg}" style="width: 110px;"
                 alt="微信二维码">
          </div>
        </div>
      </div>
      <div class="three wide column">
        <div class="ui inverted link list">
          <h4 class="ui inverted me-text-thin me-text-spaced">最新博客 </h4>
          <a href="#" class="item">童话故事 {stories}</a>
          <a href="#" class="item">关于刻意练习的清单</a>
          <a href="#" class="item">失败要趁早</a>
        </div>
      </div>
      <div class="four wide column">
        <div class="ui inverted link list">
          <h4 class="ui inverted me-text-thin me-text-spaced">联系我 </h4>
          <a href="#" class="item">Email: huben2koishi@gmail.com</a>
          <a href="#" class="item">QQ: 1274641305</a>
        </div>
      </div>
      <div class="six wide column">
        <div class="ui inverted link list">
          <h4 class="ui inverted me-text-thin me-text-spaced">huben2koishi </h4>
          <p class="item me-text-thin me-text-spaced me-opacity-tiny">这是我的个人博客, 会分享关于编程、游戏、思考相关的各种内容,
            希望可以给来到这的人有所帮助</p>
        </div>
      </div>
    </div>

    <div class="ui inverted section divider"></div>

    <p class="me-text-thin me-text-spaced me-opacity-tiny">Copyright &copy; 2019 Designed by Koishi</p>
  </div>
</footer>

<th:block th:fragment="scripts">
  <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdn.bootcss.com/semantic-ui/2.4.1/semantic.min.js"></script>
  <script src="../../static/lib/editor.md/editormd.min.js" th:src="@{/lib/editor.md/editormd.min.js}"></script>
</th:block>

</body>
</html>
