<!doctype html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/_fragments :: head(~{::title})">
  <title>后台首页</title>
</head>
<body>
<!--导航栏-->
<nav th:replace="admin/_fragments :: nav(0)"></nav>

<!--内容-->
<div class="me-container-small me-padding-tb-big">
  <div class="ui container">
    <div class="ui success large message">
      <h2>Hi~</h2>
      <p>Koishi, 欢迎登陆</p>
    </div>
    <img class="ui rounded bordered fluid image" src="https://picsum.photos/1000/600" alt="">
  </div>
</div>

<!--底栏-->
<footer th:replace="admin/_fragments :: footer"></footer>

<!--/*/<th:block th:replace="admin/_fragments :: scripts">/*/-->
<!--/*/</th:block>/*/-->

<script>
    $('#menu').click(function () {
        $('.me-item').toggleClass('me-mobile-hide');
    });

    $('.ui.dropdown').dropdown({
        on: 'hover'
    });
</script>
</body>
</html>
